:root {
    --primary: purple;
    --background: #faf9f5;
    --surface: #ffffff;
    --on-surface: #1a1c1a;
}
body {
    background-color: var(--background);
    color: var(--on-surface);
}

.event-card {
    background-color: var(--surface);
}

.event-card h1 {
    font-family: "Montserrat", sans-serif;
}

.event-card p {
    font-family: "Inter", sans-serif;
}

.event-card button {
    background-color: var(--primary);
    color: white;
}